@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a un CRUD de bebidas ficticias</h1>
    <p>Parte del proyecto fue realizado con ayuda del curso del creador de contenido <a href="https://www.youtube.com/watch?v=28LjewDjaz4&pp=ygUOaGRlbGVvbiBjIyBtdmM%3D" target="_blank">Hector de León</a>, junto con aportes propios para poner en práctica lo aprendido :)</p>
    <ul class="text-start">
        <li>Marcas: Podrás observar las marcas de las bebidas existentes.</li>
        <li>Bebidas: Aquí encontrarás todo el CRUD sobre las bebidas, con un ID propio, nombre de la bebida, a que marca pertenece y las opciones.</li>
    </ul>
</div>
